name: "release"

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  test:
    uses: ./.github/workflows/test.yml

  publish-conda-pkg-to-anaconda-dot-org:
    name: Publish conda package to Anaconda.org
    runs-on: ubuntu-latest
    if: github.event_name == 'push'  # Only run on push to main branch
    needs: [test]
    steps:
    - name: Retrieve the source code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: Create build environment
      run: |
        source $CONDA/bin/activate
        conda create -n build --file ./etc/build.linux-64.lock
    - name: Download the build artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: anaconda-ai-conda-${{ github.sha }}
        path: ~/anaconda-ai-conda-bld
    - name: publish
      env:
        TOKEN: ${{ secrets.ANACONDA_ORG_UPLOAD_TOKEN }}
      run: |
        source $CONDA/bin/activate && conda activate build
        [[ "$GITHUB_REF" =~ ^refs/tags/v ]] || export LABEL="--label dev"
        anaconda --verbose \
          --token $TOKEN \
          upload \
          --user anaconda-cloud \
          $LABEL \
          --force \
          ~/anaconda-ai-conda-bld/noarch/anaconda-ai-*

  publish-wheel-to-anaconda-dot-org:
    name: Publish wheel to Anaconda.org
    runs-on: ubuntu-latest
    if: github.event_name == 'push'  # Only run on push to main branch
    needs: [test]
    steps:
    - name: Retrieve the source code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: Download the build artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: anaconda-ai-wheel-${{ github.sha }}
        path: ~/dist
    - name: Create build environment
      run: |
        source $CONDA/bin/activate
        conda create -n build --file ./etc/build.linux-64.lock
    - name: Upload to anaconda.org
      env:
        TOKEN: ${{ secrets.ANACONDA_ORG_UPLOAD_TOKEN }}
        GITHUB_REF: ${{ github.ref }}
      run: |
        source $CONDA/bin/activate && conda activate build
        [[ "$GITHUB_REF" =~ ^refs/tags/v ]] || export LABEL="--label dev"
        anaconda --verbose \
          --token $TOKEN \
          upload \
          --user anaconda-cloud \
          ~/dist/*.whl \
          --summary \
          "Download, launch, and integrate AI models curated by Anaconda" \
          $LABEL \
          --force \

  publish-to-pypi:
    name: Build & publish to PyPI
    if: startsWith(github.event.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [test]
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
    - name: Download the build artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: anaconda-ai-wheel-${{ github.sha }}
        path: ./dist
    - name: Install build dependencies
      run: pip install hatch
    - name: Upload to PyPI with twine
      run: hatch publish
      env:
        HATCH_INDEX_USER: __token__
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}
